<%= form_with url: filter_groups_path, method: :post do |form|  %>
    <%= form.text_field :filter, value: "all", type: :hidden %>
    <%= form.submit "All groups" %>
<% end %>

<p> | </p>

<%= form_with url: filter_groups_path, method: :post do |form|  %>
    <%= form.text_field :filter, value: "mine", type: :hidden %>
    <%= form.submit "Created by me" %>
<% end %>

<p> | </p>
<%= link_to "Where I am member" %>