<div class="bg-black/50 fixed top-0 left-0 w-full h-full flex justify-center align-middle">
    <div class="w-1/2 m-auto bg-white rounded-xl p-32">
        <h2> <%= @title %> Group</h2>
        <%= form_with(model: Group.new()) do |form| %>
            <%= form.number_field :user_id, value: @user_id, type: :hidden %>

            <div class="flex gap-5 p-5">
                <div>
                    <%= form.label :name %>
                    <p>People will see this name before joining your group</p>
                </div>
                <%= form.text_field :name, placeholder: "Group name", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            </div>

            <div class="inline">
                <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
            </div>
        <% end %>
    </div>
</div>