<% groups.each do |group| %>
    <div id="<%= dom_id group %>" class="flex gap5 my-5">

    <div >
        <p>
        <%= group.name %>
        </p>
        <div class="flex gap-5">
        <div>123 Members</div>
        <div>456 Posts</div>
        <div>Last activity 3 days ago</div>
        </div>
    </div>

    <% if Membership.where(group_id: group.id).where(user_id: current_user.id).present? %>
      <%= link_to "Visit", group, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% else %>
      <%= form_with(model: Membership.new()) do |form|  %>
        <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
        <%= form.number_field :group_id, value: group.id, type: :hidden %>
        <%= form.submit "Join", class: "rounded-lg py-3 ml-2 px-5 bg-red-400 inline-block font-medium"  %>
      <% end %>
    <% end %>



    </div>
<% end  %>