<% @posts.each do |post| %>
    <%= post.title %>
    <br/>
    <%= post.content %>
    <br/>
    <div>
        Last comment 3 days ago
        
        • <%= link_to 'Edit', edit_post_path(post) %>
        •         
        <span>
            <%= form_with(model: post, method: :delete) do |form| %>
                <%= form.submit "Delete" %>
            <% end %>
        </span>
         • Created by You
    </div>
    <br/>
    <%= link_to "View post ->", post %>
    <br/>
    <br/>

<% end %>
