<div id="<%= dom_id group %>" class="flex gap5 my-5">

  <div >
    <p>
      <%= group.name %>
    </p>
    <div class="flex gap-5">
      <div>
        <% if Membership.where(group_id: group.id).count > 0 %> 
          <%= Membership.where(group_id: group.id).count %> Members
        <% else %>
          <%= Membership.where(group_id: group.id).count %> Member
        <% end %>
      </div>
      <div>
        <% if Post.where(group_id: group.id).count > 0 %> 
          <%= Membership.where(group_id: group.id).count %> Posts
        <% else %>
          <%= Membership.where(group_id: group.id).count %> Post
        <% end %>
      </div>
      <div>
        
        <% if Reply.where(group_id: group.id).present? %>
          <% latest_reply = Reply.where(group_id: group.id).order(updated_at: :desc).last.updated_at %>
        <% else %>
          <% latest_reply = 0 %>
        <% end %>

        <% if Comment.where(group_id: group.id).present? %>
          <% latest_comment = Comment.where(group_id: group.id).order(updated_at: :desc).last.updated_at %>
        <% else %>
          <% latest_comment = 0 %>
        <% end %>

        <% if Post.where(group_id: group.id).present? %>
          <% latest_post = Post.where(group_id: group.id).order(updated_at: :desc).last.updated_at %>
        <% else %>
          <% latest_post = 0 %>
        <% end %>

        <% unless latest_reply == 0 && latest_comment == 0 && latest_post == 0 %>
          Latest activity <%# time_ago_in_words([latest_reply,latest_comment, latest_post].sort.last) %> ago
        <% end %>

      </div>
    </div>
  </div>

  <div>
    <% if Membership.where(group_id: group.id).where(user_id: current_user.id).present? %>
      <%= link_to "Visit", group, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% else %>
      <%= form_with(model: Membership.new()) do |form|  %>
        <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
        <%= form.number_field :group_id, value: group.id, type: :hidden %>
        <%= form.submit "Join", class: "rounded-lg py-3 ml-2 px-5 bg-red-400 inline-block font-medium"  %>
      <% end %>
    <% end %>

    <%# if action_name != "show" %>
      <%# link_to 'Edit this group', edit_group_path(group), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%# end %>
  </div>

</div>
