<% @posts.each do |post| %>
    <%= post.title %>
    <br/>
    <%= post.content %>
    <br/>
    <div>

        <% if Comment.where(post_id: post.id).present? %>
            Last comment 
            <%= time_ago_in_words(Comment.where(post_id: post.id).order(updated_at: :desc).last.updated_at) %>
             ago •  
        <% end %>

        
        <%= link_to 'Edit', edit_post_path(post) %>
        •         
        <span>
            <%= form_with(model: post, method: :delete) do |form| %>
                <%= form.submit "Delete" %>
            <% end %>
        </span>
         • Created by 
            <% if current_user.id == post.user_id %>
                You
            <% else %>
                <%= User.where(id: post.user_id).first.name %>
            <% end %>

    </div>
    <br/>
    <%= link_to "View post ->", post %>
    <br/>
    <br/>

<% end %>
