<div class="mx-auto md:w-2/3 w-full flex mb-7">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @post %>

    <div class="text-2xl font-semibold"> <h2>Comments</h2> </div>
    <div id="comments">
      <%= render "comments" %>
    </div>
    
    <%= form_with(model: Comment.new()) do |form| %>
      <div class="my-5 mt-16">
        <%= form.text_area :remark, placeholder: "Write your comment...", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <%= form.number_field :post_id, value: @post.id, type: :hidden %>
      <%= form.number_field :group_id, value: @post.group_id, type: :hidden %>
      <%= form.number_field :user_id, value: current_user.id, type: :hidden %>

      <div class="flex justify-end">
        <%= form.submit "Comment", class: "rounded-lg py-3 px-5 bg-green-500 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
